# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database
instance/database.db

# VSCode
.vscode/

# Ignore test scripts
fix.py
generate_views.py
